.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.ibb.co/RHx5B16/Pik-Png-com-paw-png-1792111.png");
    background-repeat: no-repeat;
    background-origin: content-box, content-box;

}

.App input {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.App li {
    padding: 8px;
    font-size: larger
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px
}

